[Unit]
Description=Fuel Node Service
After=network.target

[Service]
User=root
ExecStart=/root/.fuelup/bin/fuel-core run \
  --service-name {{ service_name }} \
  --keypair {{ p2p_secret.stdout }} \
  --ip 0.0.0.0 --port 4001 --peering-port 30333 \
  --db-path {{ db_path }} \
  --snapshot /root/chain-configuration/ignition/ \
  --utxo-validation --poa-instant false --enable-p2p \
  --bootstrap-nodes /dnsaddr/mainnet.fuel.network \
  --sync-header-batch-size 100 \
  --enable-relayer \
  --relayer-v2-listening-contracts 0xAEB0c00D0125A8a788956ade4f4F12Ead9f65DDf \
  --relayer-da-deploy-height 20620434 \
  --relayer-log-page-size 100 \
  --sync-block-stream-buffer-size 30 \
  --max-peers-connected=30 \
  --connection-idle-timeout=60 \
  --relayer-eth-sync-log-freq-s=30
Restart=on-failure
RestartSec=5s
StartLimitBurst=3
TimeoutStartSec=60s
TimeoutStopSec=60s
LimitNOFILE=65535
WatchdogSec=3600s
ExecStartPre=/bin/sleep 10

[Install]
WantedBy=multi-user.target
